body{
    margin:0;
    padding:0;

    background:#f8f6f1;

    font-family:Georgia, serif;

    overflow-x:hidden;
}


#container{
    position:relative;

    height:4200vh;

    width:100%;
}


/* Quote styling */
.quote{
    position:absolute;

    font-size:2rem;

    max-width:500px;

    color:black;

    line-height:1.5;


    /* Fade effect */
    opacity:0;

    filter:blur(12px);

    translate:0 60px;

    transition:
        opacity .7s ease,
        filter .7s ease,
        translate .7s ease;
}


/* Visible on scroll */
.quote.visible{
    opacity:1;

    filter:blur(0px);

    translate:0 0;
}


/* Bigger dramatic quotes */
.big{
    font-size:4rem;

    font-style:italic;
}


/* Heart */
.heart{
    position:absolute;

    left:50%;

    font-size:5rem;

    color:black;

    z-index:100;

    animation:heartbeat 1.4s ease-in-out infinite;
}


/* Heartbeat animation */
@keyframes heartbeat{

    0%{
        transform:translateX(-50%) scale(1);
    }

    25%{
        transform:translateX(-50%) scale(1.15);
    }

    50%{
        transform:translateX(-50%) scale(1.3);
    }

    75%{
        transform:translateX(-50%) scale(1.15);
    }

    100%{
        transform:translateX(-50%) scale(1);
    }

}